/* Style global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; /* Ajout d'un padding pour éviter que le contenu ne soit collé aux bords de la fenêtre */
  background-color: #f4f4f4;
  color: #333;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #34495e;
  border-radius: 10px;  
}
.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    margin: 15px 40px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    color: white;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem;
  gap: 50%;
}
header img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;;
  border-radius: 90px;
}
.header h1 {
  margin: 0;
  text-align: center;
  text-decoration: underline;
}
nav {
  background-color: #34495e;
  padding: 0.5rem;
  border-radius: 10px;
}
nav a {
  color: rgb(255, 255, 255);
  margin: 0 1rem;
  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
}
nav a:hover {
  text-decoration: rgb(56, 56, 56);
  color: rgb(0, 255, 13);
}
/* Section principale */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}