# =========================
# ENVIRONNEMENT
# =========================
.env
.env.*
backend_react/.env
frontend_react/.env

# =========================
# NODE.JS
# =========================
node_modules/
backend_react/node_modules/
frontend_react/node_modules/

# =========================
# BUILD
# =========================
dist/
build/
frontend_react/dist/
frontend_react/build/

# =========================
# LOGS
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# MONGODB BACKUPS
# =========================
backup/

# =========================
# KUBERNETES SECRETS
# =========================
k8s/02-secret.yaml
*secret*.yaml
*secret*.yml

# =========================
# TERRAFORM
# =========================
**/.terraform/
.terraform/

*.tfstate
*.tfstate.*
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# JENKINS
# =========================
jenkins_home/

# =========================
# PROMETHEUS / GRAFANA
# =========================
grafana-data/
prometheus-data/

# =========================
# MINIKUBE
# =========================
.minikube/