apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: portfolio
type: Opaque
stringData:
  MONGO_URI: "mongodb+srv://ATLAS_USERNAME:ATLAS_PASSWORD@cluster0.topbtjf.mongodb.net/portfolio_db"
